<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hackerda.platform.infrastructure.database.mapper.ext.StudentUserExtMapper">

    <resultMap id="WechatStudentUserMap" type="com.hackerda.platform.infrastructure.database.model.WechatStudentUserDO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="ethnic" property="ethnic" jdbcType="VARCHAR" />
        <result column="urpclass_num" property="urpClassNum" jdbcType="INTEGER" />
        <result column="is_correct" property="isCorrect" jdbcType="BIT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="academy_name" property="academyName" jdbcType="VARCHAR" />
        <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
        <result column="class_name" property="className" jdbcType="VARCHAR" />
        <result column="openid" property="openId" jdbcType="VARCHAR" />
        <result column="appid" property="appId" jdbcType="VARCHAR" />
        <result column="is_bind" property="isBind" jdbcType="BIT" />
        <result column="is_subscribe" property="isSubscribe" jdbcType="TINYINT" />
        <result column="scene" property="scene" jdbcType="INTEGER" />
    </resultMap>


    <select id="selectRoleByAccount"  resultMap="com.hackerda.platform.infrastructure.database.mapper.RoleMapper.BaseResultMap">
        select r.id, r.name, r.code
        from student_role sr
                 join role r on sr.role_id = r.id
        where sr.account = #{account}

    </select>

    <select id="getWechatUserByAccount" resultMap="WechatStudentUserMap">
        select su.id, su.account, password, name, sex, ethnic, urpclass_num, is_correct, academy_name, subject_name,
               class_name, su.gmt_create, su.gmt_modified,  wo.openid, is_bind, wo.appid, scene, is_subscribe
        from student_user su
            left join wechat_openid wo on su.account = wo.account
            left join schedule_task st on wo.openid = st.openid and wo.appid = st.appid

        where su.account = #{account} and wo.is_bind = true

    </select>

    <select id="getWechatUserByAccountList" resultMap="WechatStudentUserMap">
        select su.id, su.account, password, name, sex, ethnic, urpclass_num, is_correct, academy_name, subject_name,
               class_name, su.gmt_create, su.gmt_modified,  wo.openid, is_bind, wo.appid, scene, is_subscribe
        from student_user su
                 left join wechat_openid wo on su.account = wo.account
                 left join schedule_task st on wo.openid = st.openid and wo.appid = st.appid

        where su.account in
        <foreach collection="collection" item="account" index="index" open="(" close=")" separator=",">
            #{account}
        </foreach>

    </select>

    <insert id="saveOrUpdate" parameterType="com.hackerda.platform.infrastructure.database.model.StudentUser" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">

        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT COUNT(*) count FROM student_user where account = #{account}
        </selectKey>

        <if test="count > 0">
            UPDATE student_user
            <set >
                <if test="account != null" >
                    account = #{account,jdbcType=INTEGER},
                </if>
                <if test="password != null" >
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="name != null" >
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="sex != null" >
                    sex = #{sex,jdbcType=VARCHAR},
                </if>
                <if test="ethnic != null" >
                    ethnic = #{ethnic,jdbcType=VARCHAR},
                </if>
                <if test="urpclassNum != null" >
                    urpclass_num = #{urpclassNum,jdbcType=INTEGER},
                </if>
                <if test="isCorrect != null" >
                    is_correct = #{isCorrect,jdbcType=BIT},
                </if>
                <if test="gmtModified != null" >
                    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
                </if>
                <if test="academyName != null" >
                    academy_name = #{academyName,jdbcType=VARCHAR},
                </if>
                <if test="subjectName != null" >
                    subject_name = #{subjectName,jdbcType=VARCHAR},
                </if>
                <if test="className != null" >
                    class_name = #{className,jdbcType=VARCHAR},
                </if>
            </set>
            <where>
                account = #{account}
            </where>
        </if>
        <if test="count == 0">
            insert into student_user
            <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="account != null" >
                    account,
                </if>
                <if test="password != null" >
                    password,
                </if>
                <if test="name != null" >
                    name,
                </if>
                <if test="sex != null" >
                    sex,
                </if>
                <if test="ethnic != null" >
                    ethnic,
                </if>
                <if test="urpclassNum != null" >
                    urpclass_num,
                </if>
                <if test="isCorrect != null" >
                    is_correct,
                </if>
                <if test="gmtCreate != null" >
                    gmt_create,
                </if>
                <if test="gmtModified != null" >
                    gmt_modified,
                </if>
                <if test="academyName != null" >
                    academy_name,
                </if>
                <if test="subjectName != null" >
                    subject_name,
                </if>
                <if test="className != null" >
                    class_name,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="account != null" >
                    #{account,jdbcType=INTEGER},
                </if>
                <if test="password != null" >
                    #{password,jdbcType=VARCHAR},
                </if>
                <if test="name != null" >
                    #{name,jdbcType=VARCHAR},
                </if>
                <if test="sex != null" >
                    #{sex,jdbcType=VARCHAR},
                </if>
                <if test="ethnic != null" >
                    #{ethnic,jdbcType=VARCHAR},
                </if>
                <if test="urpclassNum != null" >
                    #{urpclassNum,jdbcType=INTEGER},
                </if>
                <if test="isCorrect != null" >
                    #{isCorrect,jdbcType=BIT},
                </if>
                <if test="gmtCreate != null" >
                    #{gmtCreate,jdbcType=TIMESTAMP},
                </if>
                <if test="gmtModified != null" >
                    #{gmtModified,jdbcType=TIMESTAMP},
                </if>
                <if test="academyName != null" >
                    #{academyName,jdbcType=VARCHAR},
                </if>
                <if test="subjectName != null" >
                    #{subjectName,jdbcType=VARCHAR},
                </if>
                <if test="className != null" >
                    #{className,jdbcType=VARCHAR},
                </if>
            </trim>
        </if>
    </insert>
</mapper>