<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!-- 都说spring boot使用日志需要引入这个，但是我引入了之后总是打印两份日志，所以我去除了，并不影响使用 -->
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <!-- 控制台设置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}][%X{openid}] %-5level %logger{50} %line - %m%n</pattern>
        </encoder>
    </appender>


<!--    <logger name="org.springframework" additivity="false">-->
<!--        <level value="INFO"/>-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->



    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>