<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hackerda.platform.mapper.UrpCourseMapper" >
  <resultMap id="BaseResultMap" type="com.hackerda.platform.pojo.UrpCourse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="undergraduate_postgraduate_flag" property="undergraduatePostgraduateFlag" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="standard_person_number" property="standardPersonNumber" jdbcType="INTEGER" />
    <result column="reference_book" property="referenceBook" jdbcType="VARCHAR" />
    <result column="teaching_material" property="teachingMaterial" jdbcType="VARCHAR" />
    <result column="total_hour_of_teaching" property="totalHourOfTeaching" jdbcType="INTEGER" />
    <result column="jsm" property="jsm" jdbcType="VARCHAR" />
    <result column="end_Date" property="endDate" jdbcType="VARCHAR" />
    <result column="jxdg" property="jxdg" jdbcType="VARCHAR" />
    <result column="teaching_method" property="teachingMethod" jdbcType="VARCHAR" />
    <result column="course_number" property="courseNumber" jdbcType="VARCHAR" />
    <result column="basic_name_of_course" property="basicNameOfCourse" jdbcType="VARCHAR" />
    <result column="course_type" property="courseType" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_description" property="courseDescription" jdbcType="VARCHAR" />
    <result column="course_status" property="courseStatus" jdbcType="VARCHAR" />
    <result column="semester" property="semester" jdbcType="VARCHAR" />
    <result column="total_hour_in_class" property="totalHourInClass" jdbcType="INTEGER" />
    <result column="course_fee_class_code" property="courseFeeClassCode" jdbcType="VARCHAR" />
    <result column="examination_name" property="examinationName" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="extracurricular_credit" property="extracurricularCredit" jdbcType="INTEGER" />
    <result column="extracurricular_total_hour" property="extracurricularTotalHour" jdbcType="INTEGER" />
    <result column="content_abstract" property="contentAbstract" jdbcType="VARCHAR" />
    <result column="on_computer_hour" property="onComputerHour" jdbcType="INTEGER" />
    <result column="practice_week" property="practiceWeek" jdbcType="INTEGER" />
    <result column="number_coeffcient_code" property="numberCoeffcientCode" jdbcType="VARCHAR" />
    <result column="charge_category_name" property="chargeCategoryName" jdbcType="VARCHAR" />
    <result column="design_total_hour" property="designTotalHour" jdbcType="INTEGER" />
    <result column="design_homework_total_hour" property="designHomeworkTotalHour" jdbcType="INTEGER" />
    <result column="experiment_hour" property="experimentHour" jdbcType="INTEGER" />
    <result column="teaching_staff" property="teachingStaff" jdbcType="VARCHAR" />
    <result column="discuss_counseling_total_hour" property="discussCounselingTotalHour" jdbcType="INTEGER" />
    <result column="credit" property="credit" jdbcType="DOUBLE" />
    <result column="subject_category_number" property="subjectCategoryNumber" jdbcType="VARCHAR" />
    <result column="subject_category_name" property="subjectCategoryName" jdbcType="VARCHAR" />
    <result column="campus_number" property="campusNumber" jdbcType="VARCHAR" />
    <result column="campus_name" property="campusName" jdbcType="VARCHAR" />
    <result column="class_hour" property="classHour" jdbcType="INTEGER" />
    <result column="academy" property="academy" jdbcType="INTEGER" />
    <result column="xxkch" property="xxkch" jdbcType="VARCHAR" />
    <result column="english_syllabus" property="englishSyllabus" jdbcType="VARCHAR" />
    <result column="english_course_name" property="englishCourseName" jdbcType="VARCHAR" />
    <result column="english_content_brief" property="englishContentBrief" jdbcType="VARCHAR" />
    <result column="course_target" property="courseTarget" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, undergraduate_postgraduate_flag, remark, standard_person_number, reference_book,
    teaching_material, total_hour_of_teaching, jsm, end_Date, jxdg, teaching_method, course_number,
    basic_name_of_course, course_type, course_name, course_description, course_status,
    semester, total_hour_in_class, course_fee_class_code, examination_name, start_date,
    extracurricular_credit, extracurricular_total_hour, content_abstract, on_computer_hour,
    practice_week, number_coeffcient_code, charge_category_name, design_total_hour, design_homework_total_hour,
    experiment_hour, teaching_staff, discuss_counseling_total_hour, credit, subject_category_number,
    subject_category_name, campus_number, campus_name, class_hour, academy, xxkch, english_syllabus,
    english_course_name, english_content_brief, course_target, gmt_create
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hackerda.platform.pojo.example.UrpCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from urp_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from urp_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from urp_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hackerda.platform.pojo.example.UrpCourseExample" >
    delete from urp_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hackerda.platform.pojo.UrpCourse" >
    insert into urp_course (id, undergraduate_postgraduate_flag,
    remark, standard_person_number, reference_book,
    teaching_material, total_hour_of_teaching,
    jsm, end_Date, jxdg,
    teaching_method, course_number, basic_name_of_course,
    course_type, course_name, course_description,
    course_status, semester, total_hour_in_class,
    course_fee_class_code, examination_name, start_date,
    extracurricular_credit, extracurricular_total_hour,
    content_abstract, on_computer_hour, practice_week,
    number_coeffcient_code, charge_category_name,
    design_total_hour, design_homework_total_hour,
    experiment_hour, teaching_staff, discuss_counseling_total_hour,
    credit, subject_category_number, subject_category_name,
    campus_number, campus_name, class_hour,
    academy, xxkch, english_syllabus,
    english_course_name, english_content_brief,
    course_target, gmt_create)
    values (#{id,jdbcType=INTEGER}, #{undergraduatePostgraduateFlag,jdbcType=VARCHAR},
    #{remark,jdbcType=VARCHAR}, #{standardPersonNumber,jdbcType=INTEGER}, #{referenceBook,jdbcType=VARCHAR},
    #{teachingMaterial,jdbcType=VARCHAR}, #{totalHourOfTeaching,jdbcType=INTEGER},
    #{jsm,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{jxdg,jdbcType=VARCHAR},
    #{teachingMethod,jdbcType=VARCHAR}, #{courseNumber,jdbcType=VARCHAR}, #{basicNameOfCourse,jdbcType=VARCHAR},
    #{courseType,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseDescription,jdbcType=VARCHAR},
    #{courseStatus,jdbcType=VARCHAR}, #{semester,jdbcType=VARCHAR}, #{totalHourInClass,jdbcType=INTEGER},
    #{courseFeeClassCode,jdbcType=VARCHAR}, #{examinationName,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR},
    #{extracurricularCredit,jdbcType=INTEGER}, #{extracurricularTotalHour,jdbcType=INTEGER},
    #{contentAbstract,jdbcType=VARCHAR}, #{onComputerHour,jdbcType=INTEGER}, #{practiceWeek,jdbcType=INTEGER},
    #{numberCoeffcientCode,jdbcType=VARCHAR}, #{chargeCategoryName,jdbcType=VARCHAR},
    #{designTotalHour,jdbcType=INTEGER}, #{designHomeworkTotalHour,jdbcType=INTEGER},
    #{experimentHour,jdbcType=INTEGER}, #{teachingStaff,jdbcType=VARCHAR}, #{discussCounselingTotalHour,jdbcType=INTEGER},
    #{credit,jdbcType=DOUBLE}, #{subjectCategoryNumber,jdbcType=VARCHAR}, #{subjectCategoryName,jdbcType=VARCHAR},
    #{campusNumber,jdbcType=VARCHAR}, #{campusName,jdbcType=VARCHAR}, #{classHour,jdbcType=INTEGER},
    #{academy,jdbcType=INTEGER}, #{xxkch,jdbcType=VARCHAR}, #{englishSyllabus,jdbcType=VARCHAR},
    #{englishCourseName,jdbcType=VARCHAR}, #{englishContentBrief,jdbcType=VARCHAR},
    #{courseTarget,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hackerda.platform.pojo.UrpCourse" >
    <selectKey order="AFTER" keyProperty="id" resultType="int">
      select LAST_INSERT_ID();
    </selectKey>
    insert into urp_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="undergraduatePostgraduateFlag != null" >
        undergraduate_postgraduate_flag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="standardPersonNumber != null" >
        standard_person_number,
      </if>
      <if test="referenceBook != null" >
        reference_book,
      </if>
      <if test="teachingMaterial != null" >
        teaching_material,
      </if>
      <if test="totalHourOfTeaching != null" >
        total_hour_of_teaching,
      </if>
      <if test="jsm != null" >
        jsm,
      </if>
      <if test="endDate != null" >
        end_Date,
      </if>
      <if test="jxdg != null" >
        jxdg,
      </if>
      <if test="teachingMethod != null" >
        teaching_method,
      </if>
      <if test="courseNumber != null" >
        course_number,
      </if>
      <if test="basicNameOfCourse != null" >
        basic_name_of_course,
      </if>
      <if test="courseType != null" >
        course_type,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="courseDescription != null" >
        course_description,
      </if>
      <if test="courseStatus != null" >
        course_status,
      </if>
      <if test="semester != null" >
        semester,
      </if>
      <if test="totalHourInClass != null" >
        total_hour_in_class,
      </if>
      <if test="courseFeeClassCode != null" >
        course_fee_class_code,
      </if>
      <if test="examinationName != null" >
        examination_name,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="extracurricularCredit != null" >
        extracurricular_credit,
      </if>
      <if test="extracurricularTotalHour != null" >
        extracurricular_total_hour,
      </if>
      <if test="contentAbstract != null" >
        content_abstract,
      </if>
      <if test="onComputerHour != null" >
        on_computer_hour,
      </if>
      <if test="practiceWeek != null" >
        practice_week,
      </if>
      <if test="numberCoeffcientCode != null" >
        number_coeffcient_code,
      </if>
      <if test="chargeCategoryName != null" >
        charge_category_name,
      </if>
      <if test="designTotalHour != null" >
        design_total_hour,
      </if>
      <if test="designHomeworkTotalHour != null" >
        design_homework_total_hour,
      </if>
      <if test="experimentHour != null" >
        experiment_hour,
      </if>
      <if test="teachingStaff != null" >
        teaching_staff,
      </if>
      <if test="discussCounselingTotalHour != null" >
        discuss_counseling_total_hour,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="subjectCategoryNumber != null" >
        subject_category_number,
      </if>
      <if test="subjectCategoryName != null" >
        subject_category_name,
      </if>
      <if test="campusNumber != null" >
        campus_number,
      </if>
      <if test="campusName != null" >
        campus_name,
      </if>
      <if test="classHour != null" >
        class_hour,
      </if>
      <if test="academy != null" >
        academy,
      </if>
      <if test="xxkch != null" >
        xxkch,
      </if>
      <if test="englishSyllabus != null" >
        english_syllabus,
      </if>
      <if test="englishCourseName != null" >
        english_course_name,
      </if>
      <if test="englishContentBrief != null" >
        english_content_brief,
      </if>
      <if test="courseTarget != null" >
        course_target,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="undergraduatePostgraduateFlag != null" >
        #{undergraduatePostgraduateFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="standardPersonNumber != null" >
        #{standardPersonNumber,jdbcType=INTEGER},
      </if>
      <if test="referenceBook != null" >
        #{referenceBook,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterial != null" >
        #{teachingMaterial,jdbcType=VARCHAR},
      </if>
      <if test="totalHourOfTeaching != null" >
        #{totalHourOfTeaching,jdbcType=INTEGER},
      </if>
      <if test="jsm != null" >
        #{jsm,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="jxdg != null" >
        #{jxdg,jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null" >
        #{teachingMethod,jdbcType=VARCHAR},
      </if>
      <if test="courseNumber != null" >
        #{courseNumber,jdbcType=VARCHAR},
      </if>
      <if test="basicNameOfCourse != null" >
        #{basicNameOfCourse,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null" >
        #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="courseStatus != null" >
        #{courseStatus,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        #{semester,jdbcType=VARCHAR},
      </if>
      <if test="totalHourInClass != null" >
        #{totalHourInClass,jdbcType=INTEGER},
      </if>
      <if test="courseFeeClassCode != null" >
        #{courseFeeClassCode,jdbcType=VARCHAR},
      </if>
      <if test="examinationName != null" >
        #{examinationName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="extracurricularCredit != null" >
        #{extracurricularCredit,jdbcType=INTEGER},
      </if>
      <if test="extracurricularTotalHour != null" >
        #{extracurricularTotalHour,jdbcType=INTEGER},
      </if>
      <if test="contentAbstract != null" >
        #{contentAbstract,jdbcType=VARCHAR},
      </if>
      <if test="onComputerHour != null" >
        #{onComputerHour,jdbcType=INTEGER},
      </if>
      <if test="practiceWeek != null" >
        #{practiceWeek,jdbcType=INTEGER},
      </if>
      <if test="numberCoeffcientCode != null" >
        #{numberCoeffcientCode,jdbcType=VARCHAR},
      </if>
      <if test="chargeCategoryName != null" >
        #{chargeCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="designTotalHour != null" >
        #{designTotalHour,jdbcType=INTEGER},
      </if>
      <if test="designHomeworkTotalHour != null" >
        #{designHomeworkTotalHour,jdbcType=INTEGER},
      </if>
      <if test="experimentHour != null" >
        #{experimentHour,jdbcType=INTEGER},
      </if>
      <if test="teachingStaff != null" >
        #{teachingStaff,jdbcType=VARCHAR},
      </if>
      <if test="discussCounselingTotalHour != null" >
        #{discussCounselingTotalHour,jdbcType=INTEGER},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=DOUBLE},
      </if>
      <if test="subjectCategoryNumber != null" >
        #{subjectCategoryNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjectCategoryName != null" >
        #{subjectCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="campusNumber != null" >
        #{campusNumber,jdbcType=VARCHAR},
      </if>
      <if test="campusName != null" >
        #{campusName,jdbcType=VARCHAR},
      </if>
      <if test="classHour != null" >
        #{classHour,jdbcType=INTEGER},
      </if>
      <if test="academy != null" >
        #{academy,jdbcType=INTEGER},
      </if>
      <if test="xxkch != null" >
        #{xxkch,jdbcType=VARCHAR},
      </if>
      <if test="englishSyllabus != null" >
        #{englishSyllabus,jdbcType=VARCHAR},
      </if>
      <if test="englishCourseName != null" >
        #{englishCourseName,jdbcType=VARCHAR},
      </if>
      <if test="englishContentBrief != null" >
        #{englishContentBrief,jdbcType=VARCHAR},
      </if>
      <if test="courseTarget != null" >
        #{courseTarget,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hackerda.platform.pojo.example.UrpCourseExample" resultType="java.lang.Integer" >
    select count(*) from urp_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update urp_course
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.undergraduatePostgraduateFlag != null" >
        undergraduate_postgraduate_flag = #{record.undergraduatePostgraduateFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.standardPersonNumber != null" >
        standard_person_number = #{record.standardPersonNumber,jdbcType=INTEGER},
      </if>
      <if test="record.referenceBook != null" >
        reference_book = #{record.referenceBook,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingMaterial != null" >
        teaching_material = #{record.teachingMaterial,jdbcType=VARCHAR},
      </if>
      <if test="record.totalHourOfTeaching != null" >
        total_hour_of_teaching = #{record.totalHourOfTeaching,jdbcType=INTEGER},
      </if>
      <if test="record.jsm != null" >
        jsm = #{record.jsm,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        end_Date = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.jxdg != null" >
        jxdg = #{record.jxdg,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingMethod != null" >
        teaching_method = #{record.teachingMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.courseNumber != null" >
        course_number = #{record.courseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.basicNameOfCourse != null" >
        basic_name_of_course = #{record.basicNameOfCourse,jdbcType=VARCHAR},
      </if>
      <if test="record.courseType != null" >
        course_type = #{record.courseType,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null" >
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDescription != null" >
        course_description = #{record.courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.courseStatus != null" >
        course_status = #{record.courseStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.semester != null" >
        semester = #{record.semester,jdbcType=VARCHAR},
      </if>
      <if test="record.totalHourInClass != null" >
        total_hour_in_class = #{record.totalHourInClass,jdbcType=INTEGER},
      </if>
      <if test="record.courseFeeClassCode != null" >
        course_fee_class_code = #{record.courseFeeClassCode,jdbcType=VARCHAR},
      </if>
      <if test="record.examinationName != null" >
        examination_name = #{record.examinationName,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=VARCHAR},
      </if>
      <if test="record.extracurricularCredit != null" >
        extracurricular_credit = #{record.extracurricularCredit,jdbcType=INTEGER},
      </if>
      <if test="record.extracurricularTotalHour != null" >
        extracurricular_total_hour = #{record.extracurricularTotalHour,jdbcType=INTEGER},
      </if>
      <if test="record.contentAbstract != null" >
        content_abstract = #{record.contentAbstract,jdbcType=VARCHAR},
      </if>
      <if test="record.onComputerHour != null" >
        on_computer_hour = #{record.onComputerHour,jdbcType=INTEGER},
      </if>
      <if test="record.practiceWeek != null" >
        practice_week = #{record.practiceWeek,jdbcType=INTEGER},
      </if>
      <if test="record.numberCoeffcientCode != null" >
        number_coeffcient_code = #{record.numberCoeffcientCode,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeCategoryName != null" >
        charge_category_name = #{record.chargeCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.designTotalHour != null" >
        design_total_hour = #{record.designTotalHour,jdbcType=INTEGER},
      </if>
      <if test="record.designHomeworkTotalHour != null" >
        design_homework_total_hour = #{record.designHomeworkTotalHour,jdbcType=INTEGER},
      </if>
      <if test="record.experimentHour != null" >
        experiment_hour = #{record.experimentHour,jdbcType=INTEGER},
      </if>
      <if test="record.teachingStaff != null" >
        teaching_staff = #{record.teachingStaff,jdbcType=VARCHAR},
      </if>
      <if test="record.discussCounselingTotalHour != null" >
        discuss_counseling_total_hour = #{record.discussCounselingTotalHour,jdbcType=INTEGER},
      </if>
      <if test="record.credit != null" >
        credit = #{record.credit,jdbcType=DOUBLE},
      </if>
      <if test="record.subjectCategoryNumber != null" >
        subject_category_number = #{record.subjectCategoryNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectCategoryName != null" >
        subject_category_name = #{record.subjectCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.campusNumber != null" >
        campus_number = #{record.campusNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.campusName != null" >
        campus_name = #{record.campusName,jdbcType=VARCHAR},
      </if>
      <if test="record.classHour != null" >
        class_hour = #{record.classHour,jdbcType=INTEGER},
      </if>
      <if test="record.academy != null" >
        academy = #{record.academy,jdbcType=INTEGER},
      </if>
      <if test="record.xxkch != null" >
        xxkch = #{record.xxkch,jdbcType=VARCHAR},
      </if>
      <if test="record.englishSyllabus != null" >
        english_syllabus = #{record.englishSyllabus,jdbcType=VARCHAR},
      </if>
      <if test="record.englishCourseName != null" >
        english_course_name = #{record.englishCourseName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishContentBrief != null" >
        english_content_brief = #{record.englishContentBrief,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTarget != null" >
        course_target = #{record.courseTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update urp_course
    set id = #{record.id,jdbcType=INTEGER},
    undergraduate_postgraduate_flag = #{record.undergraduatePostgraduateFlag,jdbcType=VARCHAR},
    remark = #{record.remark,jdbcType=VARCHAR},
    standard_person_number = #{record.standardPersonNumber,jdbcType=INTEGER},
    reference_book = #{record.referenceBook,jdbcType=VARCHAR},
    teaching_material = #{record.teachingMaterial,jdbcType=VARCHAR},
    total_hour_of_teaching = #{record.totalHourOfTeaching,jdbcType=INTEGER},
    jsm = #{record.jsm,jdbcType=VARCHAR},
    end_Date = #{record.endDate,jdbcType=VARCHAR},
    jxdg = #{record.jxdg,jdbcType=VARCHAR},
    teaching_method = #{record.teachingMethod,jdbcType=VARCHAR},
    course_number = #{record.courseNumber,jdbcType=VARCHAR},
    basic_name_of_course = #{record.basicNameOfCourse,jdbcType=VARCHAR},
    course_type = #{record.courseType,jdbcType=VARCHAR},
    course_name = #{record.courseName,jdbcType=VARCHAR},
    course_description = #{record.courseDescription,jdbcType=VARCHAR},
    course_status = #{record.courseStatus,jdbcType=VARCHAR},
    semester = #{record.semester,jdbcType=VARCHAR},
    total_hour_in_class = #{record.totalHourInClass,jdbcType=INTEGER},
    course_fee_class_code = #{record.courseFeeClassCode,jdbcType=VARCHAR},
    examination_name = #{record.examinationName,jdbcType=VARCHAR},
    start_date = #{record.startDate,jdbcType=VARCHAR},
    extracurricular_credit = #{record.extracurricularCredit,jdbcType=INTEGER},
    extracurricular_total_hour = #{record.extracurricularTotalHour,jdbcType=INTEGER},
    content_abstract = #{record.contentAbstract,jdbcType=VARCHAR},
    on_computer_hour = #{record.onComputerHour,jdbcType=INTEGER},
    practice_week = #{record.practiceWeek,jdbcType=INTEGER},
    number_coeffcient_code = #{record.numberCoeffcientCode,jdbcType=VARCHAR},
    charge_category_name = #{record.chargeCategoryName,jdbcType=VARCHAR},
    design_total_hour = #{record.designTotalHour,jdbcType=INTEGER},
    design_homework_total_hour = #{record.designHomeworkTotalHour,jdbcType=INTEGER},
    experiment_hour = #{record.experimentHour,jdbcType=INTEGER},
    teaching_staff = #{record.teachingStaff,jdbcType=VARCHAR},
    discuss_counseling_total_hour = #{record.discussCounselingTotalHour,jdbcType=INTEGER},
    credit = #{record.credit,jdbcType=DOUBLE},
    subject_category_number = #{record.subjectCategoryNumber,jdbcType=VARCHAR},
    subject_category_name = #{record.subjectCategoryName,jdbcType=VARCHAR},
    campus_number = #{record.campusNumber,jdbcType=VARCHAR},
    campus_name = #{record.campusName,jdbcType=VARCHAR},
    class_hour = #{record.classHour,jdbcType=INTEGER},
    academy = #{record.academy,jdbcType=INTEGER},
    xxkch = #{record.xxkch,jdbcType=VARCHAR},
    english_syllabus = #{record.englishSyllabus,jdbcType=VARCHAR},
    english_course_name = #{record.englishCourseName,jdbcType=VARCHAR},
    english_content_brief = #{record.englishContentBrief,jdbcType=VARCHAR},
    course_target = #{record.courseTarget,jdbcType=VARCHAR},
    gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hackerda.platform.pojo.UrpCourse" >
    update urp_course
    <set >
      <if test="undergraduatePostgraduateFlag != null" >
        undergraduate_postgraduate_flag = #{undergraduatePostgraduateFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="standardPersonNumber != null" >
        standard_person_number = #{standardPersonNumber,jdbcType=INTEGER},
      </if>
      <if test="referenceBook != null" >
        reference_book = #{referenceBook,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterial != null" >
        teaching_material = #{teachingMaterial,jdbcType=VARCHAR},
      </if>
      <if test="totalHourOfTeaching != null" >
        total_hour_of_teaching = #{totalHourOfTeaching,jdbcType=INTEGER},
      </if>
      <if test="jsm != null" >
        jsm = #{jsm,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        end_Date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="jxdg != null" >
        jxdg = #{jxdg,jdbcType=VARCHAR},
      </if>
      <if test="teachingMethod != null" >
        teaching_method = #{teachingMethod,jdbcType=VARCHAR},
      </if>
      <if test="courseNumber != null" >
        course_number = #{courseNumber,jdbcType=VARCHAR},
      </if>
      <if test="basicNameOfCourse != null" >
        basic_name_of_course = #{basicNameOfCourse,jdbcType=VARCHAR},
      </if>
      <if test="courseType != null" >
        course_type = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null" >
        course_description = #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="courseStatus != null" >
        course_status = #{courseStatus,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        semester = #{semester,jdbcType=VARCHAR},
      </if>
      <if test="totalHourInClass != null" >
        total_hour_in_class = #{totalHourInClass,jdbcType=INTEGER},
      </if>
      <if test="courseFeeClassCode != null" >
        course_fee_class_code = #{courseFeeClassCode,jdbcType=VARCHAR},
      </if>
      <if test="examinationName != null" >
        examination_name = #{examinationName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="extracurricularCredit != null" >
        extracurricular_credit = #{extracurricularCredit,jdbcType=INTEGER},
      </if>
      <if test="extracurricularTotalHour != null" >
        extracurricular_total_hour = #{extracurricularTotalHour,jdbcType=INTEGER},
      </if>
      <if test="contentAbstract != null" >
        content_abstract = #{contentAbstract,jdbcType=VARCHAR},
      </if>
      <if test="onComputerHour != null" >
        on_computer_hour = #{onComputerHour,jdbcType=INTEGER},
      </if>
      <if test="practiceWeek != null" >
        practice_week = #{practiceWeek,jdbcType=INTEGER},
      </if>
      <if test="numberCoeffcientCode != null" >
        number_coeffcient_code = #{numberCoeffcientCode,jdbcType=VARCHAR},
      </if>
      <if test="chargeCategoryName != null" >
        charge_category_name = #{chargeCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="designTotalHour != null" >
        design_total_hour = #{designTotalHour,jdbcType=INTEGER},
      </if>
      <if test="designHomeworkTotalHour != null" >
        design_homework_total_hour = #{designHomeworkTotalHour,jdbcType=INTEGER},
      </if>
      <if test="experimentHour != null" >
        experiment_hour = #{experimentHour,jdbcType=INTEGER},
      </if>
      <if test="teachingStaff != null" >
        teaching_staff = #{teachingStaff,jdbcType=VARCHAR},
      </if>
      <if test="discussCounselingTotalHour != null" >
        discuss_counseling_total_hour = #{discussCounselingTotalHour,jdbcType=INTEGER},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=DOUBLE},
      </if>
      <if test="subjectCategoryNumber != null" >
        subject_category_number = #{subjectCategoryNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjectCategoryName != null" >
        subject_category_name = #{subjectCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="campusNumber != null" >
        campus_number = #{campusNumber,jdbcType=VARCHAR},
      </if>
      <if test="campusName != null" >
        campus_name = #{campusName,jdbcType=VARCHAR},
      </if>
      <if test="classHour != null" >
        class_hour = #{classHour,jdbcType=INTEGER},
      </if>
      <if test="academy != null" >
        academy = #{academy,jdbcType=INTEGER},
      </if>
      <if test="xxkch != null" >
        xxkch = #{xxkch,jdbcType=VARCHAR},
      </if>
      <if test="englishSyllabus != null" >
        english_syllabus = #{englishSyllabus,jdbcType=VARCHAR},
      </if>
      <if test="englishCourseName != null" >
        english_course_name = #{englishCourseName,jdbcType=VARCHAR},
      </if>
      <if test="englishContentBrief != null" >
        english_content_brief = #{englishContentBrief,jdbcType=VARCHAR},
      </if>
      <if test="courseTarget != null" >
        course_target = #{courseTarget,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hackerda.platform.pojo.UrpCourse" >
    update urp_course
    set undergraduate_postgraduate_flag = #{undergraduatePostgraduateFlag,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    standard_person_number = #{standardPersonNumber,jdbcType=INTEGER},
    reference_book = #{referenceBook,jdbcType=VARCHAR},
    teaching_material = #{teachingMaterial,jdbcType=VARCHAR},
    total_hour_of_teaching = #{totalHourOfTeaching,jdbcType=INTEGER},
    jsm = #{jsm,jdbcType=VARCHAR},
    end_Date = #{endDate,jdbcType=VARCHAR},
    jxdg = #{jxdg,jdbcType=VARCHAR},
    teaching_method = #{teachingMethod,jdbcType=VARCHAR},
    course_number = #{courseNumber,jdbcType=VARCHAR},
    basic_name_of_course = #{basicNameOfCourse,jdbcType=VARCHAR},
    course_type = #{courseType,jdbcType=VARCHAR},
    course_name = #{courseName,jdbcType=VARCHAR},
    course_description = #{courseDescription,jdbcType=VARCHAR},
    course_status = #{courseStatus,jdbcType=VARCHAR},
    semester = #{semester,jdbcType=VARCHAR},
    total_hour_in_class = #{totalHourInClass,jdbcType=INTEGER},
    course_fee_class_code = #{courseFeeClassCode,jdbcType=VARCHAR},
    examination_name = #{examinationName,jdbcType=VARCHAR},
    start_date = #{startDate,jdbcType=VARCHAR},
    extracurricular_credit = #{extracurricularCredit,jdbcType=INTEGER},
    extracurricular_total_hour = #{extracurricularTotalHour,jdbcType=INTEGER},
    content_abstract = #{contentAbstract,jdbcType=VARCHAR},
    on_computer_hour = #{onComputerHour,jdbcType=INTEGER},
    practice_week = #{practiceWeek,jdbcType=INTEGER},
    number_coeffcient_code = #{numberCoeffcientCode,jdbcType=VARCHAR},
    charge_category_name = #{chargeCategoryName,jdbcType=VARCHAR},
    design_total_hour = #{designTotalHour,jdbcType=INTEGER},
    design_homework_total_hour = #{designHomeworkTotalHour,jdbcType=INTEGER},
    experiment_hour = #{experimentHour,jdbcType=INTEGER},
    teaching_staff = #{teachingStaff,jdbcType=VARCHAR},
    discuss_counseling_total_hour = #{discussCounselingTotalHour,jdbcType=INTEGER},
    credit = #{credit,jdbcType=DOUBLE},
    subject_category_number = #{subjectCategoryNumber,jdbcType=VARCHAR},
    subject_category_name = #{subjectCategoryName,jdbcType=VARCHAR},
    campus_number = #{campusNumber,jdbcType=VARCHAR},
    campus_name = #{campusName,jdbcType=VARCHAR},
    class_hour = #{classHour,jdbcType=INTEGER},
    academy = #{academy,jdbcType=INTEGER},
    xxkch = #{xxkch,jdbcType=VARCHAR},
    english_syllabus = #{englishSyllabus,jdbcType=VARCHAR},
    english_course_name = #{englishCourseName,jdbcType=VARCHAR},
    english_content_brief = #{englishContentBrief,jdbcType=VARCHAR},
    course_target = #{courseTarget,jdbcType=VARCHAR},
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="ifExistCourse" resultType="boolean">
    select ifnull ((select count(1)  from urp_course where course_number =#{uid,jdbcType=VARCHAR}), 0)
  </select>
</mapper>